@import "tailwindcss";

:root {
	--background: #f9f5d7;
	--foreground: #282828;
	--subtitle: #3c3836;
}

body {
	color: var(--foreground);
	background-color: var(--background);
	font-family: var(--font-geist-sans), sans-serif;
}
